h1 {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;

}

h2 {
    color: black; 
    font-size: 25px;
}

h1, h2 {
    text-align: center; 
    border-left: double #acdcff 5px; 
    border-right: double #acdcff 5px; 
    width: 400px; 
    margin: auto; 
}

h3 {
    color: rgb(255, 91, 119); 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    width: 300px;
    padding: 10px;
    margin-left: 30px;
    border-radius: 15px; 
    text-align : center; 
}

#container {
    padding: 30px; 
    margin: auto; 
}
body {
    background-color: #ffedf6;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    line-height: 2.25em;
    padding: 10px; 
    margin-left: 30px; 
}
#sidebar {
    background-color: #acdcff;
    padding: 20px; 
    width: 300px; 
    float: right; 
    margin-left: 30px; 
    margin-bottom: 30px;
    border-radius: 30px; 
}
h4 {
    color: rgb(255, 91, 119); 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    width: 200px;
    padding: 10px;
    margin: 15px; 
}
ul {
    line-height: 1.5cm; 
    font-size: 1em; 
}

img {
    width: 300px;
    border: solid 5px #ffacd4;
    border-radius: 9px;
}
#pic1 {
    float: left; 
    margin-right: 15px; 
}
#pic2 {
    float: right; 
    margin-left: 15px; 
}
#pic3 {
    float: left; 
    margin-right: 15px; 
}

.highlight {
    background-color: #acdcff;
    font-weight: bold; 
    padding: 8px; 
    border-radius: 5px;     
    width: 500px; 
}

a:link {
    font-weight: bold;
    color:rgb(255, 91, 119); 
}
a:visited {
    color:rgb(189, 66, 87); 
}
a:hover {
    text-decoration: underline;
    color: #75c4fd; 
}
a:active {
    color: black; 
}

img:hover {
    border-color: #75c4fd; 
}

@media (max-width:1200px) {
    #container {
        width: 800px; 
    }
}
@media (max-width:992px) {
    #container {
        width: 100%; 
        margin: 0; 
        padding: 0; 
    }
    body {
        padding: 20px; 
    }
}
@media (max-width:768px) {
    #sidebar {
        display: none; 
    }
}
