body {
    background-color: #ffedf6;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    line-height: 2.25em;
}

img {
    width: 300px;
    float: left;
    border: solid 3px #ffacd4;
    border-radius: 9px;
    margin: 30px;
}
